.main-section{
    
    
}


.title-color{
    color: red;
}

.text{
    display: inline-block;
    background:#ff0000;
    color:white;
    text-decoration:none;
    padding: 10px 20px;
    margin-right: 8px;
    border-radius:6px;
    font-weight:bold;
    transition: 0.3s;
}






