.main-section{
    padding: 50px 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.title-color{
    color: red;
}

.title {
    padding-bottom: 50px;
}

.button{
    display: inline-block;
    background:#ff0000;
    color:white;
    text-decoration:none;
    padding: 10px 20px;
    margin-right: 9px;
    border-radius:6px;
    font-weight:bold;
    transition: 0.3s;
}

.button:hover {
    scale: 1;
    background: #af1d1d;
}

.main-section__container {
    display: flex;
    gap: 50px;
}


.main-section__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.text{
    margin-left: 10px;
    margin-top: 15px;
    
}



.col-md-4{
    padding: 100px;
}


.col-md-8{
    padding: 100px;
}

.button-1{
    display: inline-block;
    background:#ff0000;
    color:rgb(255, 0, 0);
    text-decoration:none;
    padding: 10px 20px;
    margin-right: 540px;
    border-radius:6px;
    font-weight:bold;
    transition: 0.3s;
    margin-left: 580px;
}

.text-43{
    padding-left: 360px;
    margin-top: 40;
    
}

.foto-0{
padding-left: 270px;
margin-top: -140px;
}



.foto-76{
    margin-top: 200px;
}


.title-color-2{
    color: red;
}


.text-56{
    padding-left: 55%;
    margin-top: -400px;
}


.button-2{
    display: inline-block;
    background:#ff0000;
    color:white;
    text-decoration:none;
    padding: 10px 20px;
    margin-right: 300px;
    border-radius:6px;
    font-weight:bold;
    transition: 0.3s;
    margin-left: 765px;
    margin-top: 40px;
}