h1 { 
 color: red   
}
p { 
 color: rgb(255, 0, 255)  
}

.cat{
    color:blueviolet
}
.house{
    color:rgb(51, 255, 0)
}
.family{
    color:rgb(255, 0, 179)
}
li{
    color:rgb(111, 0, 255)
}
.menu a{
    display: inline-block;
    background:#1d0083;
    color:white;
    text-decoration:none;
    padding: 10px 20px;
    margin-right: 8px;
    border-radius:6px;
    font-weight:bold;
    transition: 0.3s;
    border:5px dashed rgb(255, 0, 0)
}
.cat a{
    display: inline-block;
    background:#ff00ea;
    color:white;
    text-decoration:none;
    padding: 10px 20px;
    margin-right: 8px;
    border-radius:6px;
    font-weight:bold;
    transition: 0.3s;
}
.house a{
    display: inline-block;
    background:#3cff00;
    color:white;
    text-decoration:none;
    padding: 10px 20px;
    margin-right: 8px;
    border-radius:6px;
    font-weight:bold;
    transition: 0.3s;
}
.family a{
    display: inline-block;
    background:#ff0000;
    color:white;
    text-decoration:none;
    padding: 10px 20px;
    margin-right: 8px;
    border-radius:6px;
    font-weight:bold;
    transition: 0.3s;
}
.menu a:hover {
    background:#1d4ed8;
}
.p{
    margin-bottom: 30px;
}
.div{
    padding: 20px;
}

.box{
    width: 150px;
    height: 80px;
    margin: 10px;
    background: lightgreen;
    border: 2px solid green;

    position:relative;
    top: 20 px;
    left:30px;
}

.parent {
    position:relative;
    width: 200px;
    height:200px;
    background:lightblue;
}

.child{
    position: absolute;
    bottom:0;
    right:0;
    background: coral;
}

.row{display:flex;gap:12px;}
.box{width:80px; height:80px;background:#e2e8f0; border:2px solid #94a3b8;}
.abs {position:absolute; top:0;}